Matplotlib

Numpy

Dictionary

List

Tuple

Set

In [40]:
Num=[1,2,3,4,5,6,7,8,9,10]
print(Num)

print("Max:", max(Num))

print("Sum is:", sum(Num) )

print("Min:", min(Num))

Num.append(11)
print("list after append:", Num)

Num.remove(9)
print("List After remove:", Num)

print("List After reverse:", sorted(Num, reverse=True))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Max: 10
Sum is: 55
Min: 1
list after append: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
List After remove: [1, 2, 3, 4, 5, 6, 7, 8, 10, 11]
List After reverse: [11, 10, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
fruit_tuple = ('Apples', 'Banana', 'Orange', 'Apricot', 'Mango')
print(fruit_tuple)
print(fruit_tuple[1])
print(fruit_tuple[4])

fruits_list = list(fruit_tuple)
fruits_list[3] = 'Pear'
print("Modified List:", fruits_list)

('Apples', 'Banana', 'Orange', 'Apricot', 'Mango')
Banana
Mango
Modified List: ['Apples', 'Banana', 'Orange', 'Pear', 'Mango']

In [5]:
setA = {1, 2, 3, 4, 5}
setB = {2, 3, 4, 5, 6}
print("Set A:", setA)
print("Set B:", setB)

print("Union:", setA | setB)

print("Intersection:", setA & setB)

print("Difference (A - B):", setA - setB)

print("Symmetric Difference:", setA ^ setB)

Set A: {1, 2, 3, 4, 5}
Set B: {2, 3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {2, 3, 4, 5}
Difference (A - B): {1}
Symmetric Difference: {1, 6}

In [9]:
my_dict = {"name": "Farhan",
           "age": 22,
           "city": "Swat"}


print(my_dict["name"])
print(my_dict)

my_dict["email"] = "Farhan@example.com"
my_dict["age"] = 23


del my_dict["city"]

print(my_dict)

Farhan
{'name': 'Farhan', 'age': 22, 'city': 'Swat'}
{'name': 'Farhan', 'age': 23, 'email': 'Farhan@example.com'}